$PrimaryColor: #F7DE64;
$SecondaryColor: #555555;
$ThirdColor: #F5FBF6; 

* {
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
hr {
            width: 20%;
        }

p {
            text-align: center;
            padding: 0px 20px 0px 20px;
        }

@media only screen and (max-width: 420px) {

    body {
        margin: 0 auto;
        width: 85%;
        box-shadow: 10px 10px 3px #888888, -10px 10px 3px #888888;
    }

    .name-inspiration {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $SecondaryColor;
        background-color: $PrimaryColor;

        img {
            max-height: 150px;
            margin-top: 20px;
            border-radius: 40%;
            // border: 0.5px solid $SecondaryColor;
        }

        h2 {
            color: $ThirdColor;
            -webkit-text-stroke: 0.7px $SecondaryColor;
            font-size: 2rem;
        }

        h3 {
            font-size: 1.1rem;
        }

        

    }

    .mission-statement {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $SecondaryColor;

        h2 {
            color: $PrimaryColor;
            -webkit-text-stroke: 0.7px $SecondaryColor;
            font-size: 2rem;
        }

        img {
            max-height: 300px;
            width: 100vw;
        }
        
    }

    .what-we-do {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $PrimaryColor;
        color: $SecondaryColor;

        h2 {
            color: $ThirdColor;
            -webkit-text-stroke: 0.7px $SecondaryColor;
            font-size: 2rem;
        }

        img {
            max-height: 250px;
            margin-top: 20px;
            border-radius: 20%;
            border: 0.5px solid $SecondaryColor;
        }

        ul {
            padding: 0;
            list-style: none;

            li:before {
                content: '✓';
                padding-right: 20px;
            }
            
            li { 
                padding-bottom: 10px;
            }
        }

    }
    
}