$PrimaryColor: #F7DE64;
$SecondaryColor: #555555;
$ThirdColor: #F5FBF6; 

* {
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
hr {
            width: 20%;
        }




@media only screen and (max-width: 420px) {

    body {
        margin: 0 auto;
        width: 85%;
        background-color: $PrimaryColor;
    }

    h3 {
        font-size: 1.05rem;
        color: $PrimaryColor;
        -webkit-text-stroke: 0.7px $SecondaryColor;
        font-family: 'Spartan', sans-serif;
    }

    h2 {
        color: $PrimaryColor;
        -webkit-text-stroke: 0.7px $SecondaryColor;
        font-size: 1.8rem;
        font-family: 'Spartan', sans-serif;
    }
    
    p {
            text-align: center;
            padding: 0px 14px 0px 14px;
            font-family: 'Ubuntu', sans-serif;
        }

    .header {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $SecondaryColor;
        background-color: $ThirdColor;
        opacity: 0.9;
        border-radius: 20px;
        text-align: center;

        div {
             margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: $PrimaryColor;
            padding-right: 10px;   
        }
        
        a:hover {
                color: lightgreen;
            }
    }

    .name-inspiration {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $SecondaryColor;
        background-color: $ThirdColor;
        opacity: 0.9;
        border-radius: 20px;
        margin-top: 20px;

        img {
            max-height: 150px;
            margin-top: 20px;
            border-radius: 40%;
        }

    }

    .mission-statement {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $ThirdColor;
        color: $SecondaryColor;
        opacity: 0.9;
        border-radius: 20px;
        margin-top: 20px;

        img {
            max-height: 300px;
            width: 100vw;
            border-radius: 5%;
        }
        
    }

    .what-we-do {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $SecondaryColor;
        background-color: $ThirdColor;
        color: $SecondaryColor;
        opacity: 0.9;
        border-radius: 20px;
        margin-top: 20px;


        img {
            max-height: 250px;
            margin-top: 20px;
            border-radius: 20%;
            border: 0.5px solid $SecondaryColor;
        }

        ul {
            padding: 0;
            list-style: none;

            li:before {
                content: '✓';
                padding-right: 20px;
            }
            
            li { 
                padding-bottom: 10px;
            }
        }

    }
    
}