$PrimaryColor: #F7DE64;
$SecondaryColor: #555555;
$ThirdColor: #F5FBF6; 

* {
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
    max-width: 50vw;
  }

body {
    margin: 0 auto;
    max-width: 1900px;
    box-shadow: 10px 10px 8px #888888, -10px 10px 8px #888888;
}

h1 {
    text-align: center;
}

h2 {
    color: $PrimaryColor;
    font-size: 4rem;
    font-family: 'Spartan', sans-serif;
}
    
h3 {
    color: $SecondaryColor;
    font-size: 2rem;
    font-family: 'Spartan', sans-serif;
}

hr {
    max-width: 10%;
    color: $SecondaryColor;
}

p {
    font-size: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
    color: $SecondaryColor;
}    

div { 
    margin: auto;
}
.name-inspiration {
    display: flex;
    text-align: center;
    background-color: $ThirdColor;
    border: 1px solid #888888;
    
    p {
        padding: 25px 40px
    }
}

.mission-statement {
    display: flex;
    text-align: center;
    background-color: $PrimaryColor;
    border: 1px solid #888888;

    h2 {
        color: $ThirdColor;
    }
    
    p {
        padding: 10px 150px;
    }
    
}

.what-we-do {
    display: flex;
    text-align: center;
    background-color: $ThirdColor;

    h2 {
        color: $PrimaryColor;
    }

    .img-container {
        margin: unset;
    }

    ul {
        font-size: 2rem;
        color: $SecondaryColor;
        text-align: left;
    }

    li {
        padding: 10px;
        padding-left: 20%;
    }

    
}

.about-me {
        background-color: $PrimaryColor;
        text-align: center;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: end;

        h2 {
            color: $ThirdColor;
        }

        p {
            font-size: 2rem;
            padding: 0px 200px;
        }
    }